* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(../img/bg-img.svg) no-repeat 100% 100%;
    background-size: cover;
}

.container {
    min-height: 100vh;
    margin: 0 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    position: relative;
    top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    background-image: linear-gradient(45deg, #FDA085, #F6D365);
    height: 50px;
    width: 50px;
}

i { 
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;

    position: relative;
    left: 46%;
    margin-bottom: 25px;

    &:hover {
        color: rgba(0, 0, 0, 0.5);
    }
}

#lang-change {
    list-style-type: none;
    width: 110px;
    
    display: flex;
    justify-content: space-between;

    li {
        color: rgba(0, 0, 0, 0.25);
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            color: rgba(0, 0, 0, 0.5)
        }
    }
}

.active {
    color: black !important;
    cursor: default !important;
    position: relative;

    &::after {
        content: '';
        background-color: black;
        border-radius: 100px;

        height: 6px;
        width: 6px;

        position: absolute;
        top: 100%;
        left: 39%;
    }
}

blockquote {
    margin: 40px 0;
    max-width: 1040px;
    width: 60%;

    h1 {
        font-size: 4.8rem;
        text-align: center;
    }

    p {
        margin-top: 25px;
        font-size: 1.8rem;
        text-align: right;
    }
}

.underlined {
    position: relative;

    &::after {
        content: '';
        background-image: linear-gradient(45deg, #FDA085, #F6D365);

        height: 25px;
        width: 100%;
        
        position: absolute;
        top: 60%;
        left: 0;
        z-index: -1;
    }
}

footer {
    position: relative;
    bottom: 20px;
    font-size: 1.2rem;

    span {
        font-weight: 700;
    }
}

@media screen and (max-width: 800px) {
    blockquote {
        width: 80%;

        h1 {
            font-size: 3.6rem;
        }
    }

    .underlined {
        &::after {
            height: 15px;
        }
    }
}

@media screen and (max-width: 600px) {
    blockquote {
        width: 90%;
        
        h1 {
            font-size: 2.4rem;
        }

        p {
            font-size: 1.4rem;
        }

        .underlined {
            &::after {
                height: 10px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    blockquote {
        h1 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1.2rem;
        }

        .underlined {
            &::after {
                height: 7px;
            }
        }
    }
}