* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../img/bg-img.svg) no-repeat 100% 100%;
  background-size: cover;
}

.container {
  min-height: 100vh;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#logo {
  background-image: linear-gradient(45deg, #FDA085, #F6D365);
  height: 50px;
  width: 50px;
}

i {
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  left: 46%;
  margin-bottom: 25px;
}

i:hover {
  color: rgba(0, 0, 0, 0.5);
}

#lang-change {
  list-style-type: none;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lang-change li {
  color: rgba(0, 0, 0, 0.25);
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

#lang-change li:hover {
  color: rgba(0, 0, 0, 0.5);
}

.active {
  color: black !important;
  cursor: default !important;
  position: relative;
}

.active::after {
  content: '';
  background-color: black;
  border-radius: 100px;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 100%;
  left: 39%;
}

blockquote {
  margin: 40px 0;
  max-width: 1040px;
  width: 60%;
}

blockquote h1 {
  font-size: 4.8rem;
  text-align: center;
}

blockquote p {
  margin-top: 25px;
  font-size: 1.8rem;
  text-align: right;
}

.underlined {
  position: relative;
  white-space: nowrap;
}

.underlined::after {
  content: '';
  background-image: linear-gradient(45deg, #FDA085, #F6D365);
  height: 25px;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: -1;
}

footer {
  position: relative;
  bottom: 20px;
  font-size: 1.2rem;
}

footer span {
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  blockquote {
    width: 80%;
  }
  blockquote h1 {
    font-size: 3.6rem;
  }
  .underlined::after {
    height: 15px;
  }
}

@media screen and (max-width: 600px) {
  blockquote {
    width: 90%;
  }
  blockquote h1 {
    font-size: 2.4rem;
  }
  blockquote p {
    font-size: 1.4rem;
  }
  blockquote .underlined::after {
    height: 10px;
  }
}

@media screen and (max-width: 360px) {
  blockquote h1 {
    font-size: 1.8rem;
  }
  blockquote p {
    font-size: 1.2rem;
  }
  blockquote .underlined::after {
    height: 7px;
  }
}
/*# sourceMappingURL=styles.css.map */